.new-tweet {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1064px) {
  .new-tweet {
    width: auto;
    margin-left: 7em;
  }
}

textarea {
  width: 100%;
  outline: 0;
  border-width: 0 0 4px; 
  background: transparent;
  font-weight: bold;
}

@media only screen and (min-width: 1064px) {
  textarea {
    width: 515px;
  }
}

.error-tweet {
  display: none;
  width: auto;
  margin-bottom: 20px;
  text-align: center;
  color: red;
  border-style: solid;
  border-width: 4px;
}

.fa-exclamation-triangle {
  color: red;
  padding: 3px;
}


.submit-tweet {
  display: flex;
  justify-content: space-between;
}


#tweet-btn {
  background-color: #4056A1;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  text-align: center;
  font-family: Bungee;
}

#tweet-btn:hover {
  border-width: 2px;
  border-color: #8FCBFF;
}
.counter {
  font-family: Bungee;
}

.negativeCount {
  color: red;
}


