.new-tweet {
  width: 55%; 
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.error-tweet {
  display: none;
  width: auto;
  margin: 10px; 
  text-align: center;
  color: red;
  border-style: solid;
  border-width: 4px;
}

.fa-exclamation-triangle {
  color: red;
  padding: 3px;
}


.submit-tweet {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: center;
  font-family: Bungee;
}

.counter {
  font-family: Bungee;
}

.negativeCount {
  color: red;
}


textarea {
  width: 100%;
  outline: 0;
  border-width: 0 0 4px; 
  background: transparent;
}
