.tweets-container {
  width: 55%; 
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tweet {
  margin: 15px;
  color: #545149;
  border-style: solid;
  border-width: 3px;
  padding: 0.5em;
  background-color: transparent;
}

.tweet:hover {
  box-shadow: 7px 7px #4056A1;
}

.fa-flag:hover {
  color: rgb(254, 111, 134);
}

.fa-retweet:hover {
  color: rgb(254, 111, 134);
}

.fa-heart:hover {
  color: rgb(254, 111, 134);
}


.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

hr {
  display: block;
  height: 3px; 
  background-color: #545149;
}

.tweet-footer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  font-size: 15px;
}