.tweets-container {
  width: 100%;
  max-width: 550px; 
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
}

@media only screen and (min-width: 1024px) {
  .tweets-container{
    width: auto;
    margin-left: 7em;
  }
}

/* Each individual tweet box */
.tweet {
  margin: 15px;
  color: #545149;
  border-style: solid;
  border-width: 3px;
  padding: 0.5em;
  background-color: transparent;
}

.tweet:hover {
  box-shadow: 7px 7px #4056A1;
}

.fa-flag:hover {
  color: #FA3B72;
}

.fa-retweet:hover {
  color: #FA3B72;
}

.fa-heart:hover {
  color: #FA3B72;
}


.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 1.5em;
}

hr {
  display: block;
  height: 3px; 
  background-color: #545149;
  margin-top: 1em;
}

.tweet-footer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  font-size: 15px;
}
